@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  text-decoration: none;
  list-style: none;
}
/*!OVERRIDE BOOTSTRAP ESTILOS INICIA AQUI*/

a {
  text-decoration: none;
  color: none;
}

.wrapper *,
.wrapper *::after,
.wrapper *::before {
  box-sizing: content-box; /* or your desired value */
}

body {
  background: #f2f3f4;
  overflow-x: hidden;
}

body {
  line-height: inherit; /* or your preferred value */
}

img,
svg {
  vertical-align: unset; /* or any other value you want */
}

/*!OVERRIDE BOOTSTRAP ESTILOS TERMRINA AQUI*/

.wrapper {
  display: flex;
  position: relative;
}

.sidebarNav {
  position: fixed;
  width: 230px;
  height: 100%;
  background: #0d3347;
  padding: 10px 0;
}

.wrapper .sidebarNav ul li {
  padding: 15px; /*funciona como line height*/
}

.wrapper .sidebarNav ul li a {
  position: relative;
  color: #f2f3f4;
  display: block;
}
/*iconos de fontawesome*/
.wrapper .sidebarNav ul li a .fa-sharp,
.fa-solid {
  width: 25px;
}

.wrapper .sidebarNav ul li:hover {
  color: rgba(86, 183, 236, 0.76);
  background: #103f55;
  transition: 0.4 ease;
}

.wrapper .sidebarNav ol,
.wrapper .sidebarNav ul {
  padding-left: 0;
  padding-right: 0;
}

.wrapper .sidebarNav ul li a:hover {
  color: rgba(86, 183, 236, 0.76);
  transition: 0.4 ease;
}

/*afecta icono de flecha pedidos*/
.wrapper .sidebarNav ul li a span {
  position: absolute;
  right: 0;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
}

/*afecta rotacion de flecha pedidos*/
.wrapper .sidebarNav ul li a span.rotate {
  transform: rotate(90deg);
}

.wrapper .sidebarNav ul ul.showPedidos li {
  line-height: 18px;
  background: #51ade0;
}

.wrapper .sidebarNav ul ul.showPedidos li:hover {
  background: rgba(86, 183, 236, 0.76);
  transition: 0.4 ease;
}

.wrapper .sidebarNav ul ul.showPedidos li a:hover {
  color: #103f55;
  transition: 0.4 ease;
}

.wrapper .sidebarNav ul ul.showPedidos li a {
  display: block;
  font-size: 15px;
  padding-left: 20px;
  color: #181818;
  font-weight: 400;
}

/*para ocultar submenu*/
.wrapper .sidebarNav ul ul.showPedidos {
  display: none;
}

.wrapper .mainHomepageContent {
  /*este calculo permite que la tabla se scrollee bien*/
  width: calc(100% - 230px);
  /*este margen se basa en no tocar el navbar*/
  margin-left: 230px;
}

.wrapper .mainHomepageContent .headerHomepage nav {
  padding: 20px;
  background: #51ade0;
  border-bottom: 1px solid #e8e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap; /* Prevent wrapping */
}

.wrapper .mainHomepageContent .info {
  margin: 20px;
}

/*para divir entre parrafos*/
.wrapper .mainHomepageContent .info div {
  margin-bottom: 20px;
}

.wrapper .mainHomepageContent .headerHomepage nav .loggedUser {
  display: inline-block;
  margin-left: auto;
  margin-right: 35px;
  color: #181818;
  font-weight: 500;
  text-shadow: #ffffff;
}

.wrapper .mainHomepageContent .headerHomepage a {
  text-decoration: none;
  padding: 0.5rem;
  /*border: 1px solid #333333;
border-radius: 20px;
background: #F2F3F4;*/
  color: #353535;
  font-weight: 500;
}

/*hover de logout*/
.wrapper .mainHomepageContent .headerHomepage a:hover {
  background: rgba(86, 183, 236, 0.76);
  border-radius: 10px;
}

.titulo {
  display: flex; /* Utiliza flexbox para alinear los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  border-bottom: 1px solid #e8e0e0;
}

.tituloLogo {
  color: #f2f3f4; /* Color del texto */
  font-size: 24px; /* Tamaño de la fuente */
  font-weight: bold; /* Grosor de la fuente */
}

.favicon-container {
  margin-left: 10px; /* Ajusta el margen entre el texto y el favicon según sea necesario */
}

.favicon {
  padding: 4px;
  width: 55px; /* Ancho del favicon */
  height: auto; /* Altura automática para mantener la proporción */
}

/*modifica borde de logo homepage*/
.favicon-container .favicon {
  border-radius: 45px;
}

/**MODIFICACIONES TABLA USUARIOS COMIENZA AQUI*/

/*acomoda boton agregar usuario*/

.wrapper .mainHomepageContent .info .funcionAgregar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/*modifica estilos de tabla de usuarios*/
.containerTable {
  height: 450px;
  overflow: auto;
}

table {
  width: 100%;
  table-layout: fixed;
  min-width: 900px;
  /*quita divisiones de primer fila con collapse*/
  border-collapse: collapse;
}

.table {
  width: 100px;
}

/*cambia colores de primer fila de tabla*/
thead th {
  position: sticky;
  top: 0;
  background-color: #dbdbdb;
  color: #868686;
  font-size: 16px;
}
/*cambia titulos de primer fila, y contenido de cada campo por fila*/
th,
td {
  border-bottom: 1px solid #d1cbcb;
  padding: 5px 15px;
  /*break all es para que escrito si es largo no se salga de casilla*/
  word-break: break-all;
  /*text-align: center;*/
}

/*cambia colores por fila de manera even*/
tr:nth-child(even) {
  background-color: #e4e5e6;
}

.tituloGestionarUsuarios {
  color: #181818; /* Color del texto */
  font-size: 25px; /* Tamaño de la fuente */
  font-weight: 400; /* Grosor de la fuente */
  border-bottom: 1px solid #d1cbcb;
}

/*modifica boton de agregar Usuario*/
.btnAgregarUsuario {
  padding: 12px 12px;
  border-radius: 7px;
  background: #2196f3;
  color: #f2f3f4;
  font-weight: 450;
  margin-right: 1px;
  transition: background-color 0.3s ease;
}

.btnAgregarUsuario:hover {
  background-color: #007acc; /* Change color on hover */
}

.btnAgregarUsuario:active {
  opacity: 0.8; /* Change opacity when clicked */
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  font-weight: 450;
}

/*modifica estilo del primer boton, por eso el nthchild(1)*/
td button:nth-child(1) {
  background-color: #56a34e;
  transition: background-color 0.3s ease;
  color: #f2f3f4;
}

/* cambiar opacity cuando se hace click en eliminar */
td button:nth-child(1):hover {
  background-color: #45833f;
}

/* cambiar opacity cuando se hace click en editar */
td button:nth-child(1):active {
  opacity: 0.8;
}

td button:nth-child(2) {
  background-color: #193545;
  color: #f2f3f4;
  transition: background-color 0.3s ease;
}

/* cambiar color a oscuro cuando se sobrepone el cursor en eliminar */
td button:nth-child(2):hover {
  background-color: #275269;
}

/* cambiar opacity cuando se hace click en eliminar */
td button:nth-child(2):active {
  opacity: 0.8;
}

td button:nth-child(3) {
  background-color: #db2721;
  color: #f2f3f4;
  transition: background-color 0.3s ease;
}

/* cambiar color a oscuro cuando se sobrepone el cursor en eliminar */
td button:nth-child(3):hover {
  background-color: #aa1d16;
}

/* cambiar opacity cuando se hace click en eliminar */
td button:nth-child(3):active {
  opacity: 0.8;
}

/*agrega hover al seleccionar una fila*/
tr:hover td {
  color: #07648f;
  cursor: pointer;
  /*background-color: #e4e5e6;*/
}

/**ESTILOS PARA POPUP MODAL AL QUERER AGREGAR USUARIO COMIENZA AQUI*/

.formAddUsers {
  margin-bottom: 10px; /* Adjust spacing as needed */
}

.formUpdUsers {
  margin-top: -10px;
  margin-bottom: 10px; /* Adjust spacing as needed */
}

select.custom-select {
  appearance: auto;
}

/**ESTILOS PARA VALIDACIONES BOOTSTRAP COMIENZA AQUI*/

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: var(--bs-form-invalid-border-color);
  width: 100%;
  max-width: 100%;
  padding-right: 13px;
  background-image: none !important; /* Remove background image */
  background-repeat: unset !important; /* Remove background repeat */
  background-position: unset !important; /* Remove background position */
  background-size: unset !important; /* Remove background size */
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #dfe2e6;
  width: 100%;
  max-width: 100%;
  padding-right: 13px;
  background-image: none;
  background-repeat: initial;
  background-position: initial;
  background-size: initial;
}
.wrapper
  .mainHomepageContent
  .info
  .funcionAgregar
  .buenasValidaciones
  .successMessage {
  margin-bottom: 1px;
}

.wrapper .mainHomepageContent .info .funcionAgregar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/**Estilos para alertas para que tengan el mismo margen que la tabla que es 20px**/
.wrapper .mainHomepageContent .customAlerts {
  margin: 20px;
}

/**Estilos para disclaimer que indica que username y cedula deben ser únicos*/
.disclaimer p {
  font-size: smaller;
  background: transparent;
  color: #292626;
  border-radius: 5px;
  opacity: 50%;
  margin-top: 1rem;
  margin-bottom: 0;
  display: inline;
}

.disclaimerUpdUser p {
  font-size: smaller;
  background: transparent;
  color: #292626e0;
  border-radius: 5px;
  opacity: 50%;
  display: inline;
}
